<form method="POST" action="/new">
  <div>ENTER YOUR MESSAGE</div>
  <label for="messageUser">Name: </label>
  <input name="messageUser" type="text" id="messageUser" />
  <label for="messageText">Message: </label>
  <textarea name="messageText" id="messageText" rows="4" cols="50"></textarea>
  <button type="submit">SUBMIT</button>
</form>
